@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Add custom styles here (but avoid it if possible) */
  @font-face {
    font-family:"laca";
    src:url("https://use.typekit.net/af/ca51a1/00000000000000003b9b39df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ca51a1/00000000000000003b9b39df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ca51a1/00000000000000003b9b39df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
  }

  @font-face {
    font-family:"laca";
    src:url("https://use.typekit.net/af/94e9d3/00000000000000003b9b39e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/94e9d3/00000000000000003b9b39e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/94e9d3/00000000000000003b9b39e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
  }

  @font-face {
    font-family:"mr-eaves-sans";
    src:url("https://use.typekit.net/af/b303fd/00000000000000003b9adbc9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b303fd/00000000000000003b9adbc9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b303fd/00000000000000003b9adbc9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;
  }

  @font-face {
    font-family:"mr-eaves-sans";
    src:url("https://use.typekit.net/af/49cf3f/00000000000000003b9adbca/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/49cf3f/00000000000000003b9adbca/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/49cf3f/00000000000000003b9adbca/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
  }

  /* Suppress reach UI warnings about not including their CSS: https://reach.tech/styling#skip-including-styles */
  :root {
    --reach-dialog: 1;
    --reach-listbox: 1;
    --reach-accordion: 1;
  }

  .tooltip {
    @apply absolute invisible group-hover:visible bg-black text-white font-normal p-3 rounded mt-8 text-base pointer-events-none z-10 shadow-raise;
    width: 95%;
    left: 2.5%;
  }

  html {
    scroll-behavior: smooth;
  }

  img, svg {
    display: inline;
  }

  b {
    @apply font-bold
  }

  p a, li a {
    @apply text-blue-700
  }

  p a:hover, li a:hover {
    @apply text-blue-500
  }

  .FAQ + .FAQ {
    @apply border-t border-gray-300
  }

  .FAQ p + p {
    margin-top: 1em;
  }

  .FAQ[data-reach-accordion-item][data-state="open"] {
    @apply text-black
  }

  .FAQ [data-reach-accordion-button][data-state="open"] svg {
    @apply rotate-90
  }

  .FAQ[data-reach-accordion-item][data-state="open"] > div {
    @apply ease-in opacity-100 max-h-[500vh]
  }

  .FAQ[data-reach-accordion-item][data-state="collapsed"] > div {
    @apply ease-out opacity-0 max-h-0
  }

  .Section {
    @apply pt-8
  }

  .Section + .Section {
    @apply mt-16
  }

  .SectionNoPadding {
    @apply max-w-5xl md:w-11/12 mx-auto px-4
  }

  .Button {
    @apply py-1 px-3 border-2 rounded text-white inline-block h-full transition-all duration-200 shadow hover:shadow-lg scale-100 hover:scale-105 focus:scale-105 active:scale-100
  }

  .Button + .Button:not(.ml-0) {
    @apply ml-2
  }

  .Alert {
    @apply rounded p-4 break-words flex items-center overflow-x-auto
  }

  @keyframes scrollUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }

  .raise-google-button {
    @apply rounded px-2 !important;
  }

  .bg-white-important {
    @apply bg-white !important
  }

  .skeleton {
    @apply animate-pulse text-transparent bg-clip-padding bg-gray-300 bg-opacity-30 border-gray-300 border-opacity-30 rounded shadow-none pointer-events-none select-none cursor-default;
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
  }

  .word-wrap {
    word-break: normal;
    overflow-wrap: anywhere;
  }

  @keyframes fade-in {
    from { opacity: 0; }
  }

  [data-reach-listbox-option][data-current-nav] {
    @apply bg-gray-200;
  }
}
