#contact {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;

	color: white;
}

#social-icons {
	margin-bottom: 36px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#social-icons img {
	height: 36px;
	margin: 0px 12px;
}

#contact-form {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 24px;
}

#contact-form-inner-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	max-width: 600px;
}

.contact-submit {
  grid-area: submit;
  font-family: laca, sans-serif;
  font-weight: 700;
  font-size: 40px;
  background: none;
  border: none;
  margin: 20px auto;
  color: white;
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-name,
.contact-email {
  margin-bottom: 30px;
}

.contact-input-group {
  border: 4px solid white;
  padding: 10px;
  position: relative;
}

.contact-input-group > input,
.contact-input-group > textarea {
  background: none;
  color: white;
  font-size: 22px;
  border: none;
  width: 100%;
  height: 100%;
	resize: none;
}

.contact-input-group > label {
  position: absolute;
  top: -.75em;
  left: 1.5em;
  background: var(--SkyBlue);
  padding: 0 0.75em;
  font-size: 20px;
  font-weight: 600;
}
