/* HOW IT WORKS */

#how-it-works {
  height: auto;
  width: auto;
  color: white;
  font-size: 18px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-left: 36px;
	padding-right: 36px;
}

#how-it-works-grid{

	max-width: 1200px;

	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: auto;

	grid-gap: 36px;
}

.hiw-box{
	grid-row: 1 / 2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 36px;

	text-align: center;
}

	.hiw-box img{
		width: 64px;
	}

	.hiw-box h4{
		font-size: 2.5rem;
		font-weight: 200;
		margin-top: 20px;
	  margin-bottom: 10px;
	}

	.hiw-box p{
		font-size: 1.5rem;
		font-weight: 300;
	}

#hiw-donate{
	grid-column: 1 / 2;

	background-color: var(--Purple);
	color: white;
}
#hiw-doubled{
	grid-column: 2 / 3;

	background-color: var(--DarkRed);
	color: white;
}
#hiw-celebrate{
	grid-column: 3 / 4;

	background-color: var(--Yellow);
	color: black;
}

.hiw-quote{
	margin-top: 24px;

	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 550px;
}

.hiw-quote-image{
	float: left;
	background: black;
	width: 64px;
	height: 64px;
	border-radius: 50%;

	background-image: url('/shared/images/quote_1.png');
	background-position: center center;
	background-size: cover;

}

#hiw-donate-quote{
	grid-column: 1 / 2;
}
#hiw-doubled-quote{
	grid-column: 2 / 3;
}
#hiw-celebrate-quote{
	grid-column: 3 / 4;
}

.concept-video {
	width: 100%;
	max-width: 700px;
}

.concept-video .video-wrapper {
	box-shadow: var(--Shadow);
}

/* Collapse into single column */
@media screen and (max-width: 1000px){
	#how-it-works{
		align-items: center;
		padding: 0 0;
	}

	#how-it-works-grid{
		width: 100%;
		max-width: 320px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.hiw-box, .hiw-quote{
		margin-bottom: 40px;
	}

	.hiw-quote{
		margin-left: 36px;
		margin-right: 36px;
	}

	#hiw-donate{ order: 1 }
	#hiw-donate-quote{ order: 2 }
	#hiw-doubled{ order: 3 }
	#hiw-doubled-quote{ order: 4 }
	#hiw-celebrate{ order: 5 }
	#hiw-celebrate-quote{ order: 6 }
}

.carousel-wrapper {
  width: 100%;
  flex: 0 0 100%;
}

.carousel {
    width: auto;
    margin: 30px 50px 50px;
}

.carousel-quote {
	padding: 24px 36px;
	margin: 5px;
	background-color: var(--Purple);
	color: white;
	height: 100%;
	/* display: table !important; */
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}