@import '/mwa_style.css';

.home-title {
  padding-top: 2em;
}

.ways-to-contribute-summary {
  max-width: 800px;
  margin: 10px auto;
	text-align: center;
}

.ways-to-contribute-group {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.ways-to-contribute-item {
  flex: 1 0 215px;
  max-width: 320px;
  margin: 8px 18px;
  display: flex;
  flex-direction: column;
	padding: 18px 24px;
  border-radius: 3px;
  box-shadow: var(--Shadow);
  text-align: center;
}

.ways-to-contribute-item p {
  margin: 1em 0;
  font-weight: 300;
}

.ways-to-contribute-cta {
	margin-top: 24px;
}
